body {
    margin: 30;
    background: linear-gradient(to right, orange, yellow);
}
.navbar{
    border-radius: 25px;
    background: brown;
    padding-right: 20px;
    padding-left: 20px;
}

.navdiv{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.logo a{
    font-size:35px; 
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.nav-list li{
    list-style: none;
    display: inline-block;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
}


button{  
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
}
button a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 15px;
}

.Title{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: green;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
}
.box1{
    /*display:grid;*/
    
    width: 300px;
    height: 350px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
.box2{
    width: 400px;
    height: 450px;
    border: 15px solid green;
    margin: 20px;
}

.item-1{
    flex-grow: 1;
}
.item-2{
    flex-grow: 1;
}

.specific-list li{
    font-weight: bold;
    list-style: decimal;   
    padding: 10;
}
.no-blue a{
    color: black;
}

.box2 .img-fill img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.Subtitle2{
    text-align: center;
    font-size: 50px;
    color: red;
    font-weight: 700;
}
.Subtitle3{
    text-align: center;
    font-size: 30px;
    color: black;
}

.container2{
    padding: 2rem;
}
.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: orange;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover {
    opacity: 1;
    background-color: red;
}

.slider::-webkit-scrollbar {
    display: none;
 }
.wrapper{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}
.collapsible{
    max-width: 450px;
    overflow: hidden;
    font-weight: 500;
}
.collapsible input{
    display: none;
}
.collapsible label {
    position: relative;
    font-weight: 600;
    background: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1) 0 4px 11px 0 rgba(0, 0, 0, .08);
    color: orange;
    display:block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
}
.collapsible label:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    background: url(arrow.svg) no-repeat 0 0;
    transition: all 0.3s ease;
}
.collapsible input:checked + label:after{
    transform: rotate(90deg);
}
.collapsible-text {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible input:checked ~ .collapsible-text{
    max-height: 300px;
    padding-bottom: 25px;
    background: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1) 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
}
.collapsible-text h2{
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: blue;
}

.collapsible-text p {
    padding-left: 15px;
    padding-right: 15px; 
}